* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.min-vh-100 {
    min-height: 100vh;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 350px;
    font-size: 20px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    width: 350px;
    height: 40px;
    outline: none;
    padding: 2px 5px 2px 5px;
}

.pt-16 {
    padding-top: 16px;
}

.pt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 22px;
}

textarea {
    resize: none;
    width: 350;
    height: 40px;
    outline: none;
    padding: 5px 5px 2px 5px;
}

.button {
    background-color: red;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    border: none;
}

section {
    background: linear-gradient(#e1f4dc, #ff4c4c 50%, #d2d0a6);
}

.popup {
    height: 350px;
    width: 400px;
    background-color: rgb(13, 0, 0);
    color: gray;
    font-size: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
    border-radius: 5px;
}

button {
    background-color: rgb(52, 227, 227);
    outline: none;
    border: none;
    padding: 10px 37px;
    cursor: pointer;
    border-radius: 5px;
}

.text {
    padding-bottom: 30px;
}

.nav-fix {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0%;
    transition: linear 500ms;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999 !important;
    transform: scale(0.1);
    visibility: hidden;
}

.show-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999 !important;
    transition: linear 500ms;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    visibility: visible;
}
.container_box {
    width: 500px;
    background: #025928;
    height: 100%;
    border-radius: 8px;
}

.small_box {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 4px 16px 0px rgba(255, 255, 255, 0.10);
}

.resizetext {
    resize: none;
    height: 100px;
}